[General]
WakeWord = hello
whisper_model = medium.en

[Audio]
device_index = 1
vad_threshold = 0.5
vad_trigger_time = 0.06
vad_release_time = 1.0

[AI]
# The model to use for the AI brain. You can find models on openrouter.ai
model = meta-llama/llama-3.3-70b-instruct:free
groq_model = llama-3.3-70b-versatile
app_name = Jarvis Assistant
site_url = https://github.com/your-repo/jarvis
api_endpoint = https://openrouter.ai/api/v1/chat/completions

[APIs]
# Get your free API key from https://openrouter.ai/keys
OpenRouter_api_key = YOUR_OPENROUTER_API_KEY
# Get your free key from https://console.groq.com/keys
Groq_api_key = YOUR_GROQ_API_KEY
# Get your free key from https://console.deepgram.com
Deepgram_api_key = YOUR_DEEPGRAM_API_KEY
# Optional: Get an API key from OpenWeatherMap for weather forecasts
OpenWeatherMap_key = YOUR_OPENWEATHERMAP_API_KEY
